body {
   background-color: black;
}
h3 {
  color:red;
  font-size: 20px;
  border:1px solid blue;
  font-family: fantasy;
  padding:1px;
  margin:1px;
  text-align:center;
}
li,dt,dd {
  color:red;
}
